table.whdbForm-table { 
  border: none;
  border-collapse: collapse;
  empty-cells: show;
}

table.whdbForm-table td {
  border-bottom: 1px solid pink;
  background-color: paleturquoise;
  color: steelblue;
  font-weight: 900;
  padding: 1em;
}

table.whdbForm-table th {
  background-color: #CCFF33;
  border-bottom: none; 
  border-right: 2px solid seagreen;
  padding: 1em;
}
