/* WebHub Demo: Delphi Prefix Registry Application */
/* CSS */
body {font-family: 'Old Standard TT', serif;}

h1, h2 {font-family: 'Open Sans', Verdana, sans-serif;}

table {empty-cells: show;}


