h1 {  
	font-size: 1.1em; 
	color: #333366; 
	text-decoration: none; 
}
h2 {
	font-size: 1em; 
	color: #6666CC; 
	margin-bottom: 0;
}
p { margin-top: .1em; }

table#dspsearch {
	font-family: Trebuchet-MS, Verdana, Arial, sans-serif; 
	font-size: 80%;
	padding: 0.3em; margin: 0; width: 100%; 
}

table#dspsearch h1 {  
	font-size: 1.1em; 
	font-weight: 700; 
	color: indigo; 
	text-decoration: none; 
}

table#dspsearch td { 
	font-style: normal; font-weight: normal; 
}

table#DSPQueryCheckboxes {
	border: none; padding: 0; 
}

#DSPQueryCheckboxes td {
	font-size: small; font-style: normal; font-weight: normal; 
}
#DSPQueryCheckboxes th {
	font-size: small; 
}



table#DSPQueryForm {
	border: none; padding: 0; width: 100%; 
}

table#DSPQueryForm td {
	font-size: small; font-style: normal; font-weight: normal; 
	padding-left: 1em;
	padding-top: 0.2em;
	padding-right: 1em;
	padding-bottom: 0.2em;
}

table#DSPQueryForm th {
	font-size: small; 
	padding-left: 1em;
	padding-top: 0.2em;
	padding-right: 1em;
	padding-bottom: 0.2em;
}

table#dspadv-table {
  border: none; padding: 5px; width:100%;
}

.pro { 
	font-size: 1em; 
	font-style: normal; font-weight: normal; color: #9966cc; }

#search{
	border:2px solid;
	padding:2px;
	width: 45em; /*630;*/  /*580 until 30-Jul-2005*/
	background-color:#EEEEEE;
}

#DSPAdvertisement {
	font-size: .9em;
}