bodyOFF {
	font-family: Trebuchet-MS, Verdana, Arial, sans-serif; 
	margin-left: 25px;
	margin-right: 25px;
	font-size: 80%;
}
h1 {  
	font-size: 1.1em; 
	color: #333366; //#666699; 
	text-decoration: none; 
}
h2 {
	font-size: 1em; 
	color: #6666CC; 
	margin-bottom: 0;
}
p { margin-top: .1em; }

#dspsearch {
	font-family: Trebuchet-MS, Verdana, Arial, sans-serif; 
	font-size: 80%;
}

#dspsearch .head2 {  
	font-size: 1.1em; 
	font-weight: 700; 
	color: #000; 
	text-decoration: none; 
}

#dspsearch td { 
	font-style: normal; font-weight: normal; 
}

#DSPQueryCheckboxes td {
	font-size: x-small; font-style: normal; font-weight: normal; 
}

#DSPQueryForm td {
	font-size: x-small; font-style: normal; font-weight: normal; 
}

.pro { 
	font-size: 1em; 
	font-style: normal; font-weight: normal; color: #9966cc; }

#search{
	border:2px solid;
	padding:2px;
	width: 45em; /*630;*/  /*580 until 30-Jul-2005*/
	background-color:#EEEEEE;
}

#DSPAdvertisement {
	font-size: .9em;
}