/* webListGrid control and button styles */

.whListGrid-table {
  border: none;
  border-collapse: collapse;
  empty-cells: show;
}

.whListGrid-table td {
  border-bottom: 1px solid green;
  padding: 6px;
}

.whListGrid-table th, caption {
  background-color: #CCFF33;
}

.whListGrid-table th {
	border-bottom: 2px solid blue;
}
